@digitronica:registry=http://vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/

always-auth=true
; begin auth token
//vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/:username=Frontend
//vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/:_password=cXFxY25sdWJ6d3ptaHkzdG9rZjRkcmVpMmI1cDVqd3VscmJ2cTVyZWJqaHp6dDRzaXZlYQ==
//vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//vm-devops/Frontend/_packaging/digitronica_feed/npm/:username=Frontend
//vm-devops/Frontend/_packaging/digitronica_feed/npm/:_password=cXFxY25sdWJ6d3ptaHkzdG9rZjRkcmVpMmI1cDVqd3VscmJ2cTVyZWJqaHp6dDRzaXZlYQ==
//vm-devops/Frontend/_packaging/digitronica_feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
