@digitronica:registry=http://vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/

always-auth=true
; begin auth token
//vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/:username=Frontend
//vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/:_password=ejNqNWdzZzZwY3BlM2VwM2ZxNWs1bHJ2ZTJ2aGZmbGlubzdoZGJ2eDZqbmppcWVydGE3cQ==
//vm-devops/Frontend/_packaging/digitronica_feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//vm-devops/Frontend/_packaging/digitronica_feed/npm/:username=Frontend
//vm-devops/Frontend/_packaging/digitronica_feed/npm/:_password=ejNqNWdzZzZwY3BlM2VwM2ZxNWs1bHJ2ZTJ2aGZmbGlubzdoZGJ2eDZqbmppcWVydGE3cQ==
//vm-devops/Frontend/_packaging/digitronica_feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
